<% if get_current_user.admin?%>

  <%= form_tag :assignment_upload, {multipart: true} do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Upload"%>
  <% end %>
<% end %>

<h2> <%= get_current_student.name %>'s  Grades </h2>
<table class="table">
  <thead>
      <tr>
        <th>Name</th>
        <th>Points Recieved</th>
        <th>Points Possible</th>
        <th>Percentage</th>
    </tr>
  </thead>
  <tbody>
     <% @assignments.each do |assignment| %>
    <tr>
      <td><%= link_to assignment.assignment_name, assignments_path(:search => assignment.student_id) %></td>
      <td><%= assignement.score %></td>
      <td><%= assignement.total%></td>
      <td><%= assignement.average_percent %></td>
    </tr>
  </tbody>
</table>
  <p> Current Grade: <%= get_current_student.assignements.average_percent %> </p>
