<% if get_current_student.admin? %>

  <%= form_tag :assignments_upload, {multipart: true} do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Upload"%>
  <% end %>
<% end %>

<h2> <%= get_current_student.name %>'s  Grades </h2>
<table class="table">
  <thead>
      <tr>
        <th>Name</th>
        <th>Points Recieved</th>
        <th>Points Possible</th>
        <th>Percentage</th>
    </tr>
  </thead>
  <tbody>
     <% @assignments.each do |assignment| %>
    <tr>
      <td><%= assignment.name %></td>
      <td><%= assignment.score %></td>
      <td><%= assignment.total%></td>
      <td><%= assignment.percentage %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% if not get_current_student.admin? %>
  <p> Current Grade: <%= get_current_student.assignments.average_percentage %> </p>
<% end %>
