<html>
  <head>
    <title>Students</title> 
  </head>
    <body>
	    <% if flash[:notice] %> <!-- If theres a flash notice load it here at the top in new div section-->
		    <div class="notice"><%= flash[:notice] %> </div>
	    <%end%>
      <% @current = current_student %> <!--Find current user login-->
      <% if @current == nil %> <!-- if no login show new secctions with sign up/sign in links {will edit later to lok nice-->
      <p><%= link_to 'Sign up', new_student_path %> <strong>|</strong> <%= link_to 'Sign in', sessions_path %></p>
        <% else %>
      <h3>Welcome, <%= current_student.name %> | <%= link_to "Sign out", session_path(session), method: :delete, data: { confirm: 'Are you sure you want to sign out?' } %> </h3> 
        <% end %>
      
      <h2>Listing Students</h2>
     <!-- <%= link_to 'New Student', new_student_path %> <!-- link to new post page-->
      <table cellpadding="3">
        <tr>
          <th></th>
          <th>Name</th>
          <th>Nickname</th>
          <th>Email</th>
        </tr>
 
        <% @student.each do |student| %> <!--at each post put links to show, edit, and delete-->
          <tr>
            <td><%= image_tag(student.image_url_with_fallback, size: "80x80") %></td>
            <td><%= student.name %></td>
            <td align="center"><%= student.nickname %></td>
            <td><%= mail_to student.email %></td>

            <td><%= link_to 'Show', student %></td>
          </tr>
          <tr> <!-- If the current user matches an email address make a new row with options to edit profile and delete profile-->
            <%if current_student && current_student.id == student.id %>
            <td><%= link_to 'Edit Profile', edit_student_path(student) %></td>
            <td><%= link_to 'Delete Profile', student_path(student),method: :delete, data: { confirm: 'Perminately Delete Your Profle?' } %></td>
            <%end%>
          </tr>
        <% end %>
      </table>
  </body>
</html>
