<% if flash[:notice] %> <!-- If theres a flash notice load it here at the top in new div section-->
  <div class="notice"><%= flash[:notice] %> </div>
<%end%>

  <% if get_current_student == nil %> <!-- if no login show new secctions with sign up/sign in links {will edit later to lok nice-->
    <p><%= link_to 'Sign up', new_student_path %> <strong>|</strong> <%= link_to 'Sign in', sessions_path %></p>
    <% else %>
       <h4>Welcome, <%= get_current_student.name %> | <%= link_to 'Edit Profile', edit_student_path(get_current_student) %> | <%= link_to "Assignments", assignment_path(get_current_student) %> |<%= link_to "Sign out", session_path(session), method: :delete, data: { confirm: 'Are you sure you want to sign out?' } %> </h4> 
  <% end %>



<%= link_to 'I\'m Here', new_attendance_path %> | <%= link_to 'View All Attendances', attendances_path%> <br />

<%= form_tag :students_upload, {multipart: true} do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Upload"%>
<% end %>
      <table class="table">
        <thead>Listing All Students</thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Nickname</th>
          <th>Email</th>
          <th></th>
        </tr>
 
        <% @student.each do |student| %> <!--at each post put links to show, edit, and delete-->
          <tr>
            <td><%= image_tag(student.image_url_with_fallback, size: "80x80") %></td>
            <td><%= student.name %></td>
            <td align="center"><%= student.nickname %></td>
            <td><%= mail_to student.email %></td>
            <td><%= link_to 'Show', student %></td>
          </tr>
          <tr> <!-- If the current user matches an email address make a new row with options to edit profile and delete profile-->
            <%if get_current_student && get_current_student.id == student.id %>
            <td><%= link_to 'Delete Profile', student_path(student),method: :delete, data: { confirm: 'Perminately Delete Your Profle?' } %></td>
            <td></td>
            <%end%>
          </tr>
        <% end %>
        