<html>
  <!-- Ive got this thing about properly formated HTML pages so I had put the wright minimal tags in -->
  <head>
  </head>
  <body>
    <p>
      <strong>Name:</strong>
      <%= @student.name %> <!-- Shows the Students name -->
    </p>
 
    <p>
      <strong>Nickname:</strong> <!-- Shows the students nickname -->
      <%= @student.nickname %>
    </p>
    <p>
      <strong>Email:</strong> <!-- Shows the students email -->
      <%= mail_to @student.email %>
    </p>
    <p>
      <strong>Image:</strong> <!-- Pulls image from the URL source -->
      <%= image_tag @student.image_url_with_fallback %>
    </p>
       <%#if current_student && current_student.id == student.id %>
         <%#= link_to 'Edit', edit_student_path(@student) %> 
         <%#= link_to 'Delete Profile', student_path(student),method: :delete, data: { confirm: 'Perminately Delete Your Profle?' } %>
      <%#end%>
    <%= link_to 'Back', controller: "students" %>
  </body>
</html>