]
<%= form_for @post do |f| %><!--Calls the ApplicationControllers that are prebuilt into rails for using forms-->
  <% if @post.errors.any? %><!--Validation check for errors -->
   <div id="error_explanation"> <!-- if an error is returned. say so -->
    <h2><%= pluralize(@post.errors.count, "error") %> prohibited
      this post from being saved:</h2> <!--give error message with count of the errors folled by what they are in level 2 heading-->
    <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
      <%= f.label :title %><br> <!--Form Title Text -->
      <%= f.text_field :title %><!--Form Text field (single line) for user-->
  </p>
 
  <p>
      <%= f.label :text %><br> <!--Form Text Box Title  -->
      <%= f.text_area :text %><!--Form Expandable Textbox for User -->
  </p>
 
  <p>
      <%= f.submit %> <!-- submit button-->
  </p>
<% end %>

  