<% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
<% end -%>
      <h2>Attendance for <%=@date%> </h2>
    <div class="date">
      <%=form_tag attendances_path, method: :get do%>
        <%=date_field_tag(:date, @date)%>
      <%=submit_tag "Go"%>
      <%end%>
    </div>

    <%@seat_1 = Student.in_seat(1, @date)%>
    <%@seat_2 = Student.in_seat(2, @date)%>
    <%@seat_3 = Student.in_seat(3, @date)%>
    <%@seat_4 = Student.in_seat(4, @date)%>
    <%@absent_students= Student.absent(@date)%>

<table class="table">
  <tr>
    <td><div>Seat 1</div>
      <ul>
        <% @seat_1.each do |student| %>
        <li><%= image_tag(student.image_url_with_fallback, size: "80x80") %> <%= student.name %></li>
        <% end %>
      </ul></td>
    <td><div>Seat 2</div>
      <ul>
        <% @seat_2.each do |student| %>
        <li><%= image_tag(student.image_url_with_fallback, size: "80x80") %> <%= student.name %></li>
        <% end %>
      </ul></td>
  </tr>
  <tr>
    <td><div>Seat 3</div>
      <ul>
        <% @seat_3.each do |student| %>
        <li><%= image_tag(student.image_url_with_fallback, size: "80x80") %> <%= student.name %></li>
        <% end %>
      </ul></td>
    <td><div>Seat 4</div>
      <ul>
        <% @seat_4.each do |student| %>
        <li><%= image_tag(student.image_url_with_fallback, size: "80x80") %> <%= student.name %></li>
        <% end %>
      </ul></td>
  </tr>
  <tfoot>
    <tr>
      <td colspan=2 align=center> Front Of Class Room</td>
    </tr>
  </tfoot>
</table>
<div>
    <h3>Absent on <%=Date%></h3>
<table>
  <% @absent_students.each do |student| %>
    <tr>
      <td><%= image_tag(student.image_url_with_fallback, size: "80x80") %></td>
      <td><%= student.name %></td>
    </tr>
  <%end%>
 </table>
</div>
<br /> <br /><br />
<%= link_to 'Back', students_path %> 