<% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
<% end -%>
<h1>Attendance List</h1>
<% if current_student %>
<br/>
<br/>
<%= link_to "Back", students_path %>
<br/>
<% end %>
<table>
  <table cellpadding="3">
  <tr>
    <th><strong>Student </strong></th>
    <th>&nbsp</th>
    <th><strong>Attended On </strong></th>
    <th>&nbsp</th>
    <th><strong>Seat</strong></th>
  </tr>
<% @attendances.each do |attendance| %>
  <tr>
     <td>
       <br/>
    </td>
  </tr>
  <tr>
    <td><%= link_to attendance.student.try(:name), attendances_path(:student_id => attendance.student_id) %></td>
    <td>  </td>    
    <td><%= attendance.attended_on %></td>
    <td>  </td>
    <td alight="right"><%= attendance.seat %></td>
  </tr>
<% end %>
</table>
<%= link_to 'Back', students_path %> 